// .btn{
//     box-shadow: 0 2px 4px var(--inputColor);
// }

.dashPage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;

    .dashcontainer{
        position: relative;
        width: 95vw;
        height: 95vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsl(0,0%,98%); 
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 2px 2px 8px var(--greyText);
    
        
    }
}
